body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #020617;
    padding: 15px 40px;
}

.logo {
    font-size: 22px;
    color: #38bdf8;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

/* MAIN */
main {
    text-align: center;
    padding: 60px;
}

.btn {
    background: #38bdf8;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

/* FORM */
form {
    background: #1e293b;
    padding: 30px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}